body { 
	font-family: verdana; 
	font-size: 1em;
}

ul {
	list-style-type: none;
}

.rubrik {
	font-family: verdana; 
	font-size: 2em; 
	color: red;
}

table {
	border: 0;
	padding: 0px 0px 0px 35px;
	margin: 0px 0px 0px 35x;
}

td {
	border:0;
	border-bottom-style: dotted; 
	border-bottom-color: #003366; 
	border-bottom-width: 1px;
	font-size: 0.75em;
}